body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(155, 155, 155);
}

nav {
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 512px;
    height: 512px;
}

.item {
    margin: 0px;
    padding: 0px;
}

.item:hover {
    background-color: rgb(235, 235, 235);
}
